

.navbar{
  border-radius: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $color-1;
  border-bottom: 1px solid $color-2;

  h1, h2, h3 {
    color: $white;
  }

  li > a {
    color: $white;

    &:hover, &:active, &:focus {
      background-color: $color-2;
    }

  }

  .navbar-brand {
    color: $white;

    &:hover{
      color: $color-2;
    }
  }

}
