// button mixin

@mixin button-theme($color:$white, $bg-color:$color-3){
  color: $color;
  border-color: $color;
  background-color: $bg-color;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: $border-radius-sm;

  &:hover {
    background-color: darken($bg-color, 5);
  }
}

button, .submit-btn{
  @include button-theme($white, $color-3);
}
