// button mixin

@mixin button-theme($color, $bg-color, $bg-color-hover){
  color: $color;
  border-color: $color;
  background-color: $bg-color;
  height: 40px;
  width: 80px;

  &:hover {
    background-color: $bg-color-hover;
  }
}
