.filter-form-container{
  padding-top: $padding-from-nav;
  padding-bottom: $component-padding;
  background-color: $color-1;

  form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    select{
      margin: 10px;
    }
  }
}
