form {
  color: $white;

  a {
    color: $color-3;
  }

  ul {
    list-style: none;
  }
}

label {
  padding: 5px;
}

input, select {
  background-color: $color-2;
  border: none;
  border-radius: $border-radius-sm;
  margin-left: 10px;
  padding-left: 10px;
}
