.profile-form{

  button {
    @include button-theme($white, $color-1);
    border: 1px solid $white;
    margin-bottom: $component-padding/2;
    margin-right: $component-padding/2;
  }

}

.profile-sidebox {
  label, h4{
    color: $font-color;
  }

  select{
    margin-top: $component-padding/2;
    background-color: $white;
    font-weight: lighter;
  }
}

.profile-about{

  textarea{
    outline: none;
    width: 100%;
    color: $font-color;
    border-color: $font-color;
    padding: 10px;
  }
}
